html {
  scroll-behavior: smooth; 
}
body {
  background-color: lightblue;
  font-family: 'Roboto', sans-serif;
  /* width:750px; */
  /* min-height: 100vh; */
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  margin: auto;
}
main {
  width: 800px;
  margin: auto;
}
h1, h2 {
  color: navy;
  margin-left: 20px;
}
img {
  width: 100px;
  height: 134px;
}
pre {
  background-color: #829985;
}
* {
  box-sizing: border-box;
}
.header {
 
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
.section {
  width: 50%;
  padding-left: 20px;
}
.section #english {
  text-align: center;
  
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
}
a {
  color: #829985;
  text-decoration: none;  
  transition: color 0.5s;
}
a:hover {
  color: #4d2323;
}
.main {
  
}
.footer {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  justify-content: space-between;
  padding: 0 10px;
}
.rsschool-link img{
  height: 64px;
  width: 64px;
}
.my-gthb img{
  height: 64px;
  width: 64px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
